<h1>Student record</h1>

<table>
  <tr>
  <% for column in Student.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  <th>Class</th>
  </tr>
  
  <tr>
  <% for column in Student.content_columns %>
    <td><%=h @student.send(column.name) %></td>
  <% end %>
  <td><%=h @course.course_name %> <%=h @course.class_number %></td>
</tr>
</table>

<table>
  <tr>
    <th>Test</th>
    <th>Score</th>
    <th>Status</th>
    <th>Start Time</th>
  </tr>
  <% test_results = TestResult.where(["student_id = ? and course_id = ?", @student.id, @course.id])%>
	<% for result in test_results %>
		 <tr>
		   <td><%=TestTemplate.find(result.test_template).name %></td>
		   <td><% if !result.score.nil? %> <%=(result.score.to_f*10000).round/100.0 %> <% end %></td>
		   <td><%=result.status %></td>
		   <td><%=result.start_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
		   <td><%=link_to("view results", :controller => 'test_results', :test_results_id => result.id, :action => 'score') %></td>
		   <td><%=link_to("view test", :controller => 'test_results', :action => 'show_test', :test_results_id => result.id, :time => result.start_time) %></td>
		</tr>
	<% end %>
</table>
