<h1>Student record</h1>

<table>
  <tr>
  <% for column in Student.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  <th>Class</th>
  </tr>
  
  <tr>
  <% for column in Student.content_columns %>
    <td><%=h @student.send(column.name) %></td>
  <% end %>
  <td><%=h @course.course_name %> <%=h @course.class_number %></td>
</tr>
</table>

<table>
  <tr>
    <th>Test</th>
    <th>Score</th>
    <th>Status</th>
    <th>Start Time</th>
  </tr>
  <% test_results = TestResult.find(:all, :conditions => ["student_id = ? and course_id = ?", @student.id, @course.id])%>
	<% for result in test_results %>
	<% @test_result = result %>
		 <tr>
		   <td><%=TestTemplate.find(result.test_template).name %></td>
		   <td><%=result.score %></td>
		   <td><%=result.status %></td>
		   <td><%=result.start_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
		   <td><%=link_to("view results", :controller => 'test_result', :action => 'score') %></td>
		   <td><%=link_to("view test", :controller => 'test_taker', :action => 'show_test', :test_results => result.id) %></td>
		</tr>
	<% end %>
</table>
