<h1>Add student to course</h1>
<div class="user-form">
	<%= form_tag("add_student_to_course", method: "post") do %>
	
	<fieldset>
		<legend>Enter Student Data</legend>
		<p><label for="student_first_name">First name</label>
		<%= text_field 'student', 'first_name', :size => 40  %></p>

		<p><label for="student_last_name">Last name</label>
		<%= text_field 'student', 'last_name', :size => 40  %></p>

		<p><label for="student_student_number">Student Id</label>
		<%= text_field 'student', 'student_number', :size => 40  %></p>
		<p>
			<label for="course">Course:</label>
			<% classes = Course.all #find(:all, :order => "course_name") %>
			<% if @course.nil? %>
			 	<% selected_id = nil %>
			<% else %>
			 	<% selected_id = @course.id %>
			<% end %>
			<%= select_tag :course, options_from_collection_for_select(classes, :id, :title, selected_value = selected_id)%>
		</p>
		<%= submit_tag "Add student" %>
		<% end %>
	</fieldset>
</div>
<p>
	<%= link_to 'Back', :controller => 'admin', :action => 'show_class' %>
</p>

