<h1>Add student to course</h1>

<div class="user-form">
	<%= form_for(@student) do |f| %>
	  <% if @student.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @student.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	<fieldset>
		<legend>Enter Student Data</legend>
		<p>
			<label for="first_name">First Name:</label>
			<%= text_field :first_name, :size => 40 %>
		</p>
		<p>
			<label for="last_name">Last Name:</label>
			<%= text_field :last_name, :size => 40 %>
		</p>
		<p>
			<label for="student_number">Student Number:</label>
			<%= text_field :student_number, :size => 40 %>
		</p>
		<p>
			<label for="course">Course:</label>
			<% classes = Course.all #find(:all, :order => "course_name") %>
			<%= select_tag(:course, options_from_collection_for_select(classes, :id, :course_name)) %>
		</p>
		<%= submit_tag "Add student" %>
		<% end %>
	</fieldset>
</div>
<p>
	<%= link_to 'Back', :controller => 'students', :action => 'index' %>
</p>

