<h1>Show students</h1>

<div class="user-form">
	
	<fieldset>
		<legend>Choose Class</legend>
		<%= form_tag("show_class", method: "post") do %>
		<p>
			<label for="course">Class:</label>
			<% if @instructor.nil? %>
				<% courses = Course.all %>
			<% else %>
				<% courses = Course.where("instructor_id = ?",@instructor ) %>
			<% end %>
			<% if @course.nil? %>
			 	<% selected_id = nil %>
			<% else %>
			 	<% selected_id = @course.id %>
			<% end %>
			<%= select_tag :course, options_from_collection_for_select(courses, :id, :title, selected_value = selected_id)%>
		</p>
		<%= submit_tag "Show students in class" %>
		<% end %>
	</fieldset>
</div>
<% if @students and @students.any? %>
	<p>
	<%= "Students in #{@course.title}" %>
	<table>
	  <thead>
	    <tr>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	<% @students.each do |s| %>
	  <tr>
		<td><%=h "#{s.last_name}, #{s.first_name}, #{s.student_number}" %></td>
        <td><%= link_to 'Show', {:controller => "students", :action => :show_record, :id => s, :course => @course}, :method => :post %></td>
        <td><%= link_to 'Edit', edit_student_path(s) %></td>
        <td><%= link_to 'Remove', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
  </tbody>
</table>
	</p>
<% elsif @course %>
	<p>
	<%= "No students found in #{@course.title}" %>
	</p>
<% else %>
<p>
	<%= "No course specified." %>
</p>
<%end%>

<p>
	<%= link_to 'Add student to class', :controller => 'admin', :action => 'add_student_to_course', :course => @course %>
</p>

