<p id="notice"><%= notice %></p>

<% for column in TestResult.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @test_result.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_test_result_path(@test_result) %> |
<%= link_to 'Back', test_results_path %>
