<div class="user-form">
<%= form_for(@instructor) do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>Enter Instructor Data</legend>
		<p><label for="instructor_first_name">First name</label>
		<%= text_field 'instructor', 'first_name'  %></p>

		<p><label for="instructor_last_name">Last name</label>
		<%= text_field 'instructor', 'last_name'  %></p>

	    <%= f.submit %>
	</fieldset>
  </div>
<% end %>
<p/>
