<p id="notice"><%= notice %></p>

<% for column in Instructor.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @instructor.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
