<%= form_for(@answer_record) do |f| %>
  <% if @answer_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer_record.errors.count, "error") %> prohibited this answer_record from being saved:</h2>

      <ul>
      <% @answer_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><label for="answer_record_problem">Problem</label><br/>
<%= text_field 'answer_record', 'problem'  %></p>

<p><label for="answer_record_decoded_answer">Decoded answer</label><br/>
<%= text_field 'test_template', 'decoded_answer'  %></p>

<p><label for="answer_record_start_time">Start time</label><br/>
<%= text_field 'answer_record', 'start_time'  %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
