<h1>Data Analysis</h1>

<div class="user-form">

	
	<fieldset>
		<legend>Choose Test</legend>
		<%= form_tag("analyze_test", method: "post") do %>
		<p>
			<label for="test">Test:</label>
			<% tests = TestTemplate.all.order(:name) %>
			<%= select_tag :test, options_from_collection_for_select(tests, :id, :name, selected_value = nil)%>
		</p>
	  	<%= submit_tag 'Analyze Test' %>
		<% end %>
	</fieldset>
</div>

<div class="user-form">
	
	<fieldset>
		<legend>Choose Problem</legend>
		<%= form_tag('analyze_problem', method: 'post') do %>
		<p>
			<label for="problem">Problem:</label>
			<% problems = AnswerRecord.select(:problem).distinct.order(:problem) %>
			<%= select_tag :name, options_from_collection_for_select(problems, :problem, :problem, selected_value = nil)%>
		</p>
	  	<%= submit_tag 'Analyze Problem' %>
		<% end %>
	</fieldset>
</div>
