<h1>Test Analysis</h1>
<h3><%= @test.name %></h3>
<% n = @test_problems.length %>
Horizontal rows are individual tests. Answers are decoded answers so A represents the correct answer. Representative problems are shown below in the Problem key section. Those problems are shown with decoded answers.
<table>
	<tr><td></td><th colspan = 5>Problem</th></tr>
	<tr>
		<th>score</th>
		<% n.times do |i| %>
		<th><%= i+1 %></th>
		<% end %>
	</tr>
	<% @test_result_ids.each do |t| %>
		<tr>
			<% total = 0 %>
			<% @frequency[t].each {|f| total += 1 if f.decoded_answer == "A" } %>
			<td><%= (100.0*total/n).round %>%</td>
			<% @test_problems.each do |p| %>
				<% if @hist[t][p].nil? %>
					<td></td>
				<% else %>
					<td><%= @hist[t][p] %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
	<tr><td>% correct</td>
		<% @test_problems.each do |p| %>
			<% if @count[p] > 0 %>			
				<td><%= "#{100*@total[p]/@count[p]}" %></td>				
			<% else %>
				<td><%= 0 %></td>
			<% end %>
		<% end %>
	</tr>
</table>
<h3>Problem key:</h3>
<% i = 0 %>
<TABLE >
<% @test_problems.each do |p| %>
	<% i += 1 %>
	<% if (i % 2 == 1) %>
	<TR>
	<% end -%>
	<td valign=top>
	<TABLE >
		<tr>
			<td><h4><%= i -%>. </h4></td>
			<td>
				<h4><%= p -%></h4>
				<% parray = p.split(".") %>
				<% ext = parray.last %>
				<% name = p[0,p.length-ext.length-1] %>
			</td>
		</tr>
		<tr>
			<td></td>
			<TD style="width: 512px; vertical-align: top; text-align: left;" width=512>
				<% if ext == 'pedr' %>
				<IMG align=top src="http://s3.amazonaws.com/LaneCCMath/problems/PEmultchoiceimages/<%=URI.encode(name)%>/1,2,3,4.jpg" BORDER=1>
				<% elsif ext == '5jpg' %>
				<IMG align=top src="http://s3.amazonaws.com/LaneCCMath/problems/5multchoiceimages/<%=URI.encode(name)%>/12345.jpg" BORDER=1>
				<% elsif ext == 'pedx' %>
				<IMG align=top src="http://s3.amazonaws.com/LaneCCMath/problems/PEXmultchoiceimages/<%=URI.encode(name)%>/12345.jpg" BORDER=1>
				<% else %>
				<IMG align=top src="http://s3.amazonaws.com/LaneCCMath/problems/MRC/<%=URI.encode(name)%>/1,2,3,4.jpg" BORDER=1>
				<% end %>
			</TD>
		</tr>
	</table>
	</td>
	<% if (i % 2 == 0) %>
	</TR>
	<% end -%>
<% end -%>
</TABLE>
