<h1>Upload Test</h1>

<p>Test names are unique. If a test is uploaded with the same name as a current test a new version of the test is saved. If the test name is different from any current test the test is saved as a new test.</p>


<% if !@test_template.nil? %>
  <% if @test_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_template.errors.count, "error") %> prohibited this test_template from being saved:</h2>

      <ul>
      <% @test_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>

<%=@contents%>

<div class="user-form">
<fieldset>
	<legend>Choose test</legend>
	<%= form_tag({action: :upload}, multipart: true) do %>
	<p>
		<label for="name"> Name:</label>
		<%= text_field_tag :name, "", :size => 40 %>
	</p>
	<p>
		<label for="template">Test Template:</label>
		<%= file_field_tag "picture", :size => 40 %>
	</p>
	<p>
		<label for="description">Description:</label>
		<%= text_field_tag :description, "", :size => 40 %>
	</p>
	<%= submit_tag "Upload file", :class => "submit" %>
	<% end %>
</fieldset>
</div>
