<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><label for="course_course_name">Name</label><br/>
<%= text_field 'course', 'course_name'  %></p>

<p><label for="course_class_number">Number</label><br/>
<%= text_field 'course', 'class_number'  %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
