<p id="notice"><%= notice %></p>
<%= debug @params %>
<%= debug params %>
<% for column in Course.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @course.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
