<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>AdminController: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'MRC' %>
</head>
<body id="admin">
  <div id="banner">
    <%= image_tag("logo-blue.gif", :width => 150) %>
    <%= @page_title || "Math Testing" %>
  </div>
  <div id="columns">
    <div id="side">
		<p>
			<legend>Testing</legend>
		</p>
		<ul>
        <li><%= link_to "Try Test",   :controller => 'admin', :action => 'try_test' %>
        <li/>
        <%= link_to "Authorize",   :controller => 'admin', :action => 'authorize' %>
        </li><li>
        <%= link_to "Authorize Resume",   :controller => 'admin', :action => 'authorize_reentry' %>
        </li><li>
        <%= link_to "Take Test",   :controller => 'students', :action => 'get_test' %>
        </li><li>
</ul>
 		<p>
			<legend>Reports</legend>
		</p>
		<ul>
       <%= link_to "Classes",   :controller => 'courses' %>
        </li><li>
        <%= link_to "Instructors",   :controller => 'instructors' %>
        </li><li>
        <%= link_to "Students",   :controller => 'admin', :action => 'get_student_record' %>
        </li><li>
        <%= link_to "Tests",   :controller => 'test_templates' %>
        </li>
	 	<% user = User.find_by_id(session[:user_id]) %>
	    <% if user && user.role == "administrator" %>
		<p>
			<legend>Administration</legend>
		</p>
			<li>
	        <%= link_to "Users", :controller => 'users', :action => 'index' %>
	        </li><li>
	        <%= link_to "Add user",   :controller => 'users', :action => 'new' %>
	        </li><li>
	        <%= link_to "Add instructor",   :controller => 'instructors', :action => 'new' %>
	       	</li><li>
	        <%= link_to "Add class",   :controller => 'admin', :action => 'add_course' %>
	        </li>
			<li>
	        <%= link_to "Add students",   :controller => 'admin', :action => 'add_students' %>
	        </li>
		<% end %>
		<p>
			<legend>Instructor</legend>
		</p>
		<li>
        <%= link_to "Student list",   :controller => 'admin', :action => 'show_class' %>
        </li><li>
        <%= link_to "Authorize class",   :controller => 'admin', :action => 'authorize_class' %>
        </li><li>
	    <%= link_to "Add test to class",   :controller => 'admin', :action => 'add_test_to_course' %>
	    </li><li>
	    <%= link_to "Test analysis",   :controller => 'answer', :action => 'analyze_answers' %>
	    </li><li>
	    <%= link_to "Upload test",   :controller => 'test_templates', :action => 'upload' %>
	    </li>
		<p>
			<legend>Logout</legend>
		</p>
	    <%= link_to "Logout",     :controller => 'admin', :action => 'logout' %>
    </div>
    <div id="main">
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>