<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>AdminController: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'MRC' %>
</head>
<body id="admin">
  <div id="banner">
    <%= image_tag("logo-blue.gif", :width => 150) %>
    <%= @page_title || "Math Testing" %>
  </div>
  <div id="columns">
    <div id="side">
        <%= link_to "Try Test",   :controller => 'admin', :action => 'try_test' %>
        <br/>
        <%= link_to "Authorize",   :controller => 'admin', :action => 'authorize' %>
        <br/>
        <%= link_to "Authorize Re-entry",   :controller => 'admin', :action => 'authorize_reentry' %>
        <br/>
        <%= link_to "Take Test",   :controller => 'students', :action => 'get_test' %>
        <br/>
        <%= link_to "Classes",   :controller => 'courses' %>
        <br/>
        <%= link_to "Instructors",   :controller => 'instructors' %>
        <br/>
        <%= link_to "Students",   :controller => 'admin', :action => 'get_student_record' %>
        <br/>
        <%= link_to "Tests",   :controller => 'test_templates' %>
        <br/>
	 	<% user = User.find_by_id(session[:user_id]) %>
	    <% if user && user.role == "administrator" %>
	        <%= link_to "Users", :controller => 'admin', :action => 'list_users' %>
	        <br/>
	        <%= link_to "Add user",   :controller => 'admin', :action => 'add_user' %>
	        <br/>
	        <%= link_to "Add instructor",   :controller => 'instructor', :action => 'create' %>
	       	<br/>
	        <%= link_to "Add class",   :controller => 'admin', :action => 'add_course' %>
	        <br/>
		    <%= link_to "Add test to class",   :controller => 'admin', :action => 'add_test_to_course' %>
		    <br/>
		<% end %>
	    <%= link_to "Add student",   :controller => 'admin', :action => 'add_student_to_course' %>
	    <br/>
	    <%= link_to "Upload test",   :controller => 'test_templates', :action => 'upload' %>
	    <br/>
	    <%= link_to "data analysis",   :controller => 'answer', :action => 'analyze_answers' %>
	    <br/>
	    <%= link_to "Logout",     :controller => 'admin', :action => 'logout' %>
    </div>
    <div id="main">
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>